*{
    margin: 0;
}
body, html{
    background: #000000;
}
#header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../project-uks/assets/bar.jpg") no-repeat;
    background-size: cover;
}
.navbar-nav {
    padding-left: 10vw;
}
.current{
    color: #00ff47;
}
.current:hover{
    color: #00ff47;
}
header #hero h1 {
    text-align: center;
}
.container-fluid h4{
    padding-left: 10vw;
}
#hero{
    margin-top: 50px;
}

.register{
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
    width: 30px;
    margin-right: 30px;
    border: 3px solid #00ff47;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.register:hover{
    text-decoration: none;
    color: #00ff47;
    font-size: 20px;
}
.login{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    border: 3px solid #00ff47;
    border-radius: 20px;
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
}
.login:hover{
    color: #00ff47;
    text-decoration: none;
    font-size: 20px;
}
#explore{
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #00ff47;
    border: 3px solid #00ff47;
    border-radius: 30px;
    width: 150px;
    font-size: 20px;
    height: 40px;
    margin-top: 50px;
}
#explore a{
    text-decoration: none;
    text-align: center;
    color: #fff;
}
#join {
    text-align: center;
    color: #fff;
    border: 3px solid #00ff47;
    border-radius: 30px;
    width: 150px;
    font-size: 20px;
    height: 40px;
    margin-left: 20px;
    margin-top: 50px;
}
#join a{
    text-decoration: none;
    color: #fff;
}
.coy{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    color: #fff;
    height: 100%;
    text-align: center;
}
.bagas{
    background-color: #fff;
    width: 100px;
    height: 0;
}

